.formContainer{
    display: flex;
    flex-direction: column;
}

label{
    margin: 40px;
}

input{
    height: 20px;
    width: 200px;
}
.btnFormulario{
    background-color: rgb(147, 215, 247);
    margin: 20px;
}

